<ng-template #leftToolbar>
  <tk-toolbar-item
    title="{{ 'BOOKS.BOOKS_CREATE_EDIT.CREATE_BOOK' | translate }}"
    icon="plus"
    [routerLink]="['/detail/create']"
  ></tk-toolbar-item>
</ng-template>
<tk-portal-search-page
  [leftToolbar]="leftToolbar"
  header="Books Search"
  (onSearch)="search()"
>
  <app-criteria
    [criteria]="criteria"
    (criteriaSubmitted)="submitCriteria($event)"
    (resetEmitter)="resetEmitted()"
  >
  </app-criteria>
  <app-results
    (deleteEvent)="deleteBook($event)"
    [results]="results"
  ></app-results>
</tk-portal-search-page>
