<div id="document-specification-form">
  <form [formGroup]="authorForm">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="firstName"
            formControlName="firstName"
          />
          <label class="required" for="firstName">
            {{ "AUTHOR.FIRST_NAME" | translate }}
          </label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            id="surName"
            formControlName="surName"
          />
          <label class="required" for="surName">
            {{ "AUTHOR.SUR_NAME" | translate }}
          </label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-inputNumber
            id="age"
            formControlName="age"
            [showButtons]="true"
          ></p-inputNumber>
          <label class="required" for="age">
            {{ "AUTHOR.AGE" | translate }}
          </label>
        </span>
      </div>
    </div>
  </form>
</div>
